body {
 scrollbar-face-color		: #b1cfed;
 scrollbar-shadow-color		: #ffffff;
 scrollbar-highlight-color	: #ffffff;
 scrollbar-3dlight-color	: #336699;
 scrollbar-track-color		: #ECF3FF;
 scrollbar-darkshadow-color	: #336699;
 scrollbar-arrow-color		: #ffffff; 
}

.menus { 
  color           	: #336699; 
}

.menuimage {
	background-color : #b1cfed;
}

.menubgclass {
	background-color : #ffffff;
}

.menuhilite {
	background-color : #aae7f6;
}

.dtree a.nodeSel {
	background-color: #d6e7f6;
}


.button { 
  color           	: #336699; 
}

.button:hover { 
  color           	: #0066FF;
} 

.bordermain {
  background-color	: #55afe8;
}

.mediumtableheader {
	border-bottom: 1px solid #b1cfed;
}
.darktableheader {
	border-bottom: 2px solid #92c4f0;
}
.darktableheader1 {
	background :url(/img/skin/kloxo/default/default/tab_select_bg2.gif) 0 0 repeat-x;
}
.tableheader {
	border-bottom: 1px solid #4a7097;
}

.tableleftpanel {
	border-left: 1px solid #7ca2c9;
	border-bottom: 1px solid #7ca2c9;
	border-right: 1px solid #7ca2c9;
}

.textdisable {
}

.legend {
  color				: #3333ff;
}

.textchmoddisable {
}

.textenable {
}

.textbox {
}

.textarea {
}

.frmtextarea {
}

.frmtextareadisable {
}

.frmline {
	background-color : #b1cfed; 
}

.lpanelbuttonrow1 {
  color				: #336699;
}

.lpanelbuttonrow2 {
  color				: #0066ff;
}

.buttonunselect {
  color				: #ffffff;
  font-weight		: bold;
  font-size			: 12px;
  font-family       : arial;
}

.buttonselect {
  color				: #336699;
  font-weight		: bold;
  font-size			: 12px;
  font-family       : arial;
  background-color 	: #f5f5f5;
  cursor			: pointer;
}

.helparea {
  border-color		: #3399CC;
}

.lpanelbutton {
  color				: #0066ff;
}

.formtablerow0 {
  background-color   : #f9f9f9;
}

.formtablerow1 {
  background-color   : #f0f0f0;
}

.formtablerow2 {
  background-color   : #ffd5d5;
}

.submitbutton {
 border:1px solid #666666;
 background:url(/img/skin/kloxo/default/default/backsubmit.gif);
}

.submitbutton:hover {
 border:1px solid #666666;
 background:#fafafa;
}

.tableheadtext {
  color				: #000000;
}


.sortby {
  background-color  : #a5cbfa;
}

.tablerowhead {
  background-color  : #e6efff;
}

.detailtablehead {
  color				: #003366;
  background-color  : #7db3ee;
}

.detailleft {
  color				: #003366;
  background-color  : #a5e7c7;
}


.tablerow0 {
  background-color   : #f9f9f9;
  border: 1px solid red;
}

.tablerow1 {
  background-color   : #f7f3f7;
  border: 1px solid red ;
}

.tablerow2 {
  background-color   : #f2f2f2;
  border: 1px solid red ;
}

.hiliterow {
  background-color	: #dddddd;
}

.tablerowdetail0 {
  background-color  : #f9f9f9;
}

.tablerowdetail1 {
  background-color  : #f2f2f2;
}

.hiliterowdetail {
  color				: #336699;
  background-color	: #dddddd;
}

.filebox {
  font-family		: arial; 
  color				: #000000;
  font-size			: 9px; 
  font-weight		: normal; 
  background-color	: #FFFFFF;

}

.colHighLight {
  color				: #ff6666;
}

.copyright {
  color				: #336699;
}


.bdy1{background-image:url(/theme/skin/feather/default/images/graybg.jpg);background-repeat:repeat-x;}

#tab1 {width:100%;text-align:center;margin-left:auto;margin-right:auto;background-color:#FFFFFF;}

#tabsub {width:775px;text-align:center;margin-left:auto;margin-right:auto;background-color:#FFFFFF;}
.top{height:24px; text-align:center;background-image:url(/theme/skin/feather/default/images/topbg21.jpg);background-repeat:repeat-x;background-position:bottom}
.top2{height:28px; text-align:center;background-image:url(/theme/skin/feather/default/images/header_panel_bg.gif);background-repeat:repeat-x;}
.bgtop{background-repeat:no-repeat;height:130px;background-position:right;background-color:#eec11d;}
.bgtop1{background-image:url(/theme/skin/feather/default/images/bguniverse.jpg);background-repeat:repeat-x;height:130px;}
.bgtop2{background-image:url(/theme/skin/feather/default/images/bgbutter.jpg);background-repeat:repeat-x;height:130px;}
.bgtop3{background-repeat:repeat-x;height:92px;background-color:#87cafe}
.idbtm1{height:20px;}
.menu{text-decoration:none;color:#333333;font-size:10px}
.menu1{text-decoration:none;color:#333333;font-size:9px;font-weight:bold}
.box{height:25px;background-color:#CCCCCC};
.box1{height:22px;width:120px;background-image:url(/theme/skin/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center;}
.box2{height:22px;width:120px;background-image:url(/theme/skin/feather/default/images/12.jpg);background-repeat:repeat-x;text-align:center;color:#000000;};
.boxhom{height:22px;width:55px;background-image:url(/theme/skin/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center}
.boxhom1{height:22px;width:55px;background-image:url(/theme/skin/feather/default/images/13.jpg);background-repeat:repeat-x;text-align:center;color:#000000;border-bottom:2px #ffffff solid}
.boxdom{height:22px;width:70px;background-image:url(/theme/skin/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center;}
.boxdom1{height:22px;width:70px;background-image:url(/theme/skin/feather/default/images/12.jpg);background-repeat:repeat-x;text-align:center;color:#000000;}
.boxsdom{height:22px;width:85px;background-image:url(/theme/skin/feather/default/images/11.jpg);background-repeat:repeat-x;text-align:center;}
.boxsdom1{height:22px;width:85px;background-image:url(/theme/skin/feather/default/images/12.jpg);background-repeat:repeat-x;text-align:center;color:#000000;}

.tabver{white-space:nowrap;vertical-align:bottom;border:0}
.verb{white-space:nowrap;margin-bottom:3px;}
.verb2{white-space:nowrap;margin-bottom:3px;text-align:left}
.verb3{white-space:nowrap;margin-bottom:1px;}
.tabnew{white-space:nowrap;height:28px;width:75px;background-image:url(/theme/skin/feather/default/images/60.jpg);background-repeat:repeat-x;text-align:center;border-bottom:4px #ffffff solid;vertical-align:bottom;background-position:0px 0px}
.tabcomplete { border-bottom:1px #ddd solid; }
.tabcompletediv { /* border-bottom:1px #fff solid; */ }
.tabnew1{white-space:nowrap;height:28px;width:85px;background-image:url(/theme/skin/feather/default/images/70.jpg);background-repeat:repeat-x;text-align:center;background-position:0px 5px;vertical-align:bottom;border-bottom:1px #ddd solid}
.new2{height:22px;width:60px;background-image:url(/theme/skin/feather/default/images/70.jpg);background-repeat:repeat-x;text-align:center;background-position:0px 5px;vertical-align:bottom;border-bottom:2px #b6def8 solid}


.menuover a:hover{color:#FFFFFF;}
.menuover1 a:hover{color:#0c6ffe;}
.di{margin-left:15px;margin-right:15px;}
.divcom{margin-left:40px;}
.div1{width:450px;height:16px;border:1px #d0d0d0 solid;margin-top:20px;text-align:right;vertical-align:middle;background-color:#000000;color:#FFFFFF}
.div3{background-image:url(/theme/skin/feather/default/images/2.jpg);background-repeat:repeat-x;width:450px;height:16px;border:1px #d0d0d0 solid;margin-top:20px;text-align:right;vertical-align:middle;}
.div4{background-image:url(/theme/skin/feather/default/images/1.gif);background-repeat:repeat-x;width:450px;height:15px;border:1px #d0d0d0 solid;margin-top:20px;text-align:right;vertical-align:middle;color:#000000}
.div2{width:450px;height:110px;border:1px #d0d0d0 solid;border-top-width:0px;background-color:#FFFFFF}
.div10{width:450px;height:190px;border:1px #d0d0d0 solid;border-top-width:0px;background-color:#FFFFFF}
.imb{border:0px;margin:0px 0px 0px 0px}
.bg2{background-image:url(/theme/skin/feather/default/images/bg22.jpg);background-repeat:repeat-x;height:13px;}
.bgsid{background-image:url(/theme/skin/feather/default/images/bg10.jpg);height:20px;background-repeat:repeat-y;vertical-align:middle;font-weight:bold;color:#FFFFFF}
.bgsidm{background-color:#eeeeef;height:30px;margin:3px 25px 1px 1px;} 
.td10{height:20px;background-color:#e3e3e4;vertical-align:middle;font-size:11px}
.td11{height:20px;background-color:#f1f1f1;vertical-align:middle;font-size:11px;}
.td9{background-image:url(/theme/skin/feather/default/images/2.gif);background-repeat:repeat-x;height:22px;font-weight:bold;}
.ovr{background-color:#b8b8b8;height:20px;font-size:11px}
.a1{text-decoration:none;font-size:10px;color:#006699}
.c1{text-decoration:none;font-size:11px;color:#000000}
.c2 a:hover{color:#469de0}
.menubtm{border-bottom:2px #dbdbe5 solid}

#menubg{width:779px;height:26px;background: url(/theme/skin/feather/default/images/menubg.jpg) repeat-x}
#menubg1{width:779px;height:3px;background: url(/theme/skin/feather/default/images/menubg1.jpg) repeat-x} 
