/* top level
--------------------------------------------*/
.menuTemplate2
{
	margin: 0 auto; width: auto;float:left;
	behavior: url("cssmenu.htc");
	position:relative;
	z-index:4;
	height: 36px;
	background: none;
	border: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0;
}

.menuTemplate2 li
{
	padding: 0;
	float: left;
	height: 34px;
	_height:36px;/*IE6 Hack*/
	position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
	z-index:5;
	
	border-left:1px solid;
	border-right:1px solid;
	border-top:2px solid;
	border-color:transparent;
	_border-color:#FFF;/*IE6 Hack*/
}

.menuTemplate2 li a
{
	color:#fff;
}

.menuTemplate2 li:hover, .menuTemplate2 li.onhover
{
	border-color:#DDD;
	border-top:2px solid #B00;
	border-bottom:1px solid #DDD;
}
.menuTemplate2 a
{
	padding: 0 10px;
	line-height: 34px; /*Note: keep this value the same as the height of .menuTemplate2 li */
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	outline: 0;
	text-decoration: none;
	color: #000;
	position: relative;
}


.menuTemplate2 li:hover a, .menuTemplate2 li.onhover a
{
	background-color: #EEE;
	color: #000;
	z-index: 9; 
}
.menuTemplate2 a.arrow
{
	/* background: url(arrow.gif) no-repeat right center; */
}
 
		
/*Used to align a top-level item to the right*/		
.menuTemplate2 li.menuRight
{
	float: right;
	margin-right: 0px;
}
		
/*for the top-level separators*/
.menuTemplate2 li.separator
{
	display:none;
}
	   		
		
/* sub level
--------------------------------------------*/
		
.menuTemplate2 .drop
{
	position: absolute;
	z-index:5;
	left: -9999px;
	border: 1px solid #DDD;
	border-bottom:2px solid #B00;
	/* background: #FFF url(bg_grad.gif) repeat-x 0 0; */
	background: #FFF;
	text-align: left;
	padding: 20px;  
	top:31px;
}

.menuTemplate2 .drop a
{
	padding-left: 0px;
	padding-right: 0px;
	/* line-height: 20px; */
	font-size: 12px;
	font-weight: normal;
	display: inline;
	text-align: left;
	
	position: static;
	z-index: 0;
}

.menuTemplate2 .drop b
{
	font-weight:bold;
}
	
.menuTemplate2 li:hover .drop, .menuTemplate2 li.onhover .drop
{
	left: -1px;/*Use this property to change offset of the dropdown*/
}
.menuTemplate2 li:hover .dropToLeft, .menuTemplate2 li.onhover .dropToLeft
{
	left: auto;
	right: -1px;
}
.menuTemplate2 li:hover .dropToLeft2, .menuTemplate2 li.onhover .dropToLeft2
{
	left: auto;
	right: -60px;
}

/* Elements within the drop down sub-menu
--------------------------------------------*/

.menuTemplate2 div.drop div div
{
	padding-left:12px;
}
.menuTemplate1 li:hover .drop a, .menuTemplate1 li.onhover .drop a
{
	background: none;
	background-image:none;
	padding:0 0;
}
.menuTemplate2 div.drop div a
{
	line-height: 20px;  
	color: #048;
	background:none;
}
.menuTemplate2 div.drop div a:hover
{
	text-decoration:underline;
	cursor:pointer;
	color:#f00;
}

.menuTemplate2 div.left
{
	float:left;
	padding-right: 6px;
	margin-left: 6px;
}

.menuTemplate2 div.rightborder
{
	border-right: 1px dashed #ccc;
}

.menuTemplate2 div.left div
{
	padding-bottom:6px;
}
	 
/* CSS3 effects
--------------------------------------------*/

/*for top-level*/
.decor2_1 
{
}

/*for submenu.*/
.decor2_2 
{
	/* -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; */

	-moz-box-shadow: 0 0 14px #AAA;
	-webkit-box-shadow: 0 0 14px #AAA;
	box-shadow: 0 0 14px #AAA;  
}
