[Unit]
Description=Startup script for Kloxo-MR.
Documentation=https://forum.mratwork.com/
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=forking
PIDFile=/usr/local/lxlabs/kloxo/pid/wrapper.pid
ExecStart=/usr/bin/sh /script/run-kloxo-wrapper &
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target