	/*
	Style sheet for the navigation banner at the top of the page.
	It is assumed the banner looks somewhat like this: 
	<div class="banner">
	<p>
	<a href="../"><img alt="W3C" src="../Icons/w3c_home"></a>
	<a href="Consortium/Activities">Activities</a>
	<a href="TR/">Tech.&nbsp;Reports</a>
	<a href="Consortium/Translation/">Translations</a>
	<a href="Status">Software</a>
	<a href="Help/siteindex">Site&nbsp;index</a>
	<a href="Consortium/">About</a>
	<a href="Consortium/Contact">Contact</a>
	<a href="http: //search.w3.org/Public/">Search</a>
	</p>
	</div>
	I.e., a DIV.banner with a P with a small logo and a couple of
	A elements.
	Copyright © 2000 W3C® (MIT, INRIA, Keio). All Rights Reserved.
	See http: //www.w3.org/Consortium/Legal/ipr-notice.html#Copyright
	Author: Bert Bos <bert@w3.org>
	Created: 26 July 2000
	*/
/* body div.banner { display: block } /* Overrides 'none' in banner-*.css */
	
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
	
table  {
	margin: 0;
	padding: 0;
	font-size: 9pt;
	font-weight: 100;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-width: 0;
	border-bottom: nil;
}

td  {
	margin: 0;
	padding: 0;
}

tr  {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

a  {
	margin: 0;
	padding: 0;
	font-size: 9pt;
	font-weight: 100;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-width: 0;
	text-decoration: none;
}

a: link {
	color: #003366;
	text-decoration: none;
}

a: visited {
	color: #003366;
	text-decoration: none;
}

a: active {
	color: #003366;
	text-decoration: none;
}

a: hover {
	text-decoration: underline;
}

a.insidelist: link {
	color: #003366;
	text-decoration: underline;
}

a.insidelist: hover {
	color: #003366;
	text-decoration: none;
}

a.insidelist: visited {
	color: #003366;
	text-decoration: underline;
}

a.insidelist: active {
	color: #003366;
	text-decoration: underline;
}

img  {
	margin: 0;
	padding: 0;
	font-size: 9pt;
	font-weight: 100;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-width: 0;
}

div  {
	margin: 0;
	padding: 0;
	font-size: 9pt;
	font-weight: 100;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}


table.table_head {
	background: url("/theme/images/FINAL_07.gif");
}


div.mainButton {
	position: relative;
	cursor: pointer;
	border-style: groove;
	border-color: #3399CC;
	border-width: 0;
	height: 90px;
	width: 30px;
}

.forgotpwd { 
	color: #3992de; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	text-decoration: none;	
}

.forgotpwd: hover { 
        color: #0066CC;
}

.small {
	font-size: 8pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

input.small {
	width: 30px;
}

input.verysmall {
	margin: 0;
	width: 11px;
	height: 11px;
}

.lightandthin {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	letter-spacing: 0;
}

abbr {
	border-bottom: 10px solid black;

}

.logintextbox {
	border: 1px solid #9dddff; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt; 
	font-weight: bold; 
	color: #666666;  
	padding: 0; 
	background-color: #f4faff;
}

.forgottextbox {
	border: 1px solid #9dddff; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt; 
	font-weight: bold; 
	color: #666666;  
	padding: 3px; 
	background-color: #f4faff;
}

.submitbox {
	border: 1px solid #A5C7E7; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt; 
	font-weight: bold; 
	color: #FFFFFF;  
	background-color: #A5c7e3;
}

font.bold {
	font-weight: bold;
}

fieldset {
	background: #ffffff;
	width: 95%;
}

.menus { 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	text-decoration: none;
}

.helparea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal; 
	font-size: 9pt; 
	height: 85px; 
	width: 140px; 
	border-style: groove;
	border-color: #3399CC;
	border-width: 0;
	text: 10%;
}

.button { 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	text-decoration: none;
}

.searchbox {
	border: 1px solid #b0c0f0;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #ffffff;
}

.seabox {
	border: 1px solid #000000;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #ffffff;
	margin: 1px;
	background: URL(/theme/login/user.gif) no-repeat;
	background-position: 1px 1px;
	background-position: #FFFFFF;
	padding-left: 18px;
	vertical-align: middle;
}
.seabox1 {
	border: 1px solid #000000;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #ffffff;
	margin: 1px;
	background-position: 1px 1px;
	background-color: #FFFFFF;
	vertical-align: middle;
}

.textdisable {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #eeeeee;
	border: 1px solid #dddddd;
}

.dckbox1 {
	background-color: #eeeeee;
}

.dckbox2 {
	background-color: #eeeeee;
}

.legend {
	font-weight: normal;
}

.textarea {
	color: #000000; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.frmtextarea {
	color: #000000; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.frmtextareadisable {
	color: #000000; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	border: 1px solid #dddddd;
}

.textchmoddisable {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: bold; 
	padding-left: 12px; 
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.textenable {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #ffffff;
	border: 1px solid #dddddd;
}


.textbox {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2px; 
	background-color: #FFFFFF;
	width: 190px;
	border: 1px solid #dddddd;
}


.lpanelbuttonrow2 {
	font-weight: bold;
	cursor: pointer;
}

.buttonunselect {
	color: #ffffff;
	font-weight: bold;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.buttonselect {
	color: #336699;
	font-weight: bold;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
	cursor: pointer;
}

.messagetable { 
	border-top-style: dashed; 
	border-top-width: 1px; 
	border-bottom-style: dashed; 
	border-bottom-width: 1px;
	border-collapse: collapse; 
	background-color: #FFFFFD;
	border-color: #000000;
	border-width: 1px;
}

.messagetext {
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}	

.helparea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal; 
	font-size: 9pt; 
	height: 85px; 
	width: 140px; 
	border-style: groove;
	border-width: 0;
	text: 10%;
}
.icontextlink { 
	color: #000000; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 9pt;
	cursor: pointer;
	text-decoration: none;
}

.icontextlink: hover {
	text-decoration: underline;
	cursor: pointer;
}

.searchtext {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
}

.pagetext {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
}

.lpanelbutton {
	cursor: pointer;
}

.submitbutton {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-weight: bold; 
	color: #000000;  
	background-color: #FFFFFF;
}

.submitupdatebutton {
	padding: 0 5px 0 20px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-weight: bold; 
	padding: 0;
	background-color: #FFFFFF;
}

.submitbuttonlogout {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-weight: bold; 
	color: #bb3333;  
	background-color: #FFFFFF;
}

.tableheadtext {
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.tableheadtext: hover {
	text-decoration: underline;
	cursor: pointer;
}

.sortby {
	padding-left: 5px;
}

.detailtablehead {
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.detailleft {
	color: #003366;
	background-color: #7db3ee;
	padding-left: 5px;
	padding-right: 5px;
}


.rowpoint {
	background-color: #ffffff;
}

.rowpointhilite {
	background-color: #ff9933;
}

.hiliterow {
	background-color: #dddddd;
}

.tablerowdetail0 {
	font-weight: normal;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.tablerowhilite {
	background-color: #dde;
}

.tablerowdetail1 {
	font-weight: normal;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.hiliterowdetail {
	font-weight: normal;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.detailother {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eeeeee;
}

.col {
	padding: 7px 5px 7px 10px;
	vertical-align: middle;
}

.collist {
	padding: 0 5px;
	vertical-align: middle;
}

.filebox {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 9pt; 
	font-weight: normal; 
	background-color: #FFFFFF;
}

.coldetail {
	padding-left: 15px;
}

.colHighLight {
	padding-left: 5px;
}

.copyright {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding-left: 20px;
}

.smallroundedmodule{
	padding: 0 4px;
}

.smallroundedmodule div{
	border-style: solid;
	border-width: 1px;
	margin: -2px -4px;
	height: 1em;
}

html>body .smallroundedmodule div {
	height: auto;
}

.smallroundedmodule div div {
	border-style: none;
	border-width: 0;
	margin: 0 4px;
}

.smallroundedmodule .first, .smallroundedmodule .last {
	position: relative;
	height: 4px;
	margin: 0;
}			

.smallroundedmodule .first {
	border-width: 1px 0 0 0;
}

.smallroundedmodule .last {
	border-width: 0 0 1px 0;
}

.smallroundedmodule .first .first, .smallroundedmodule .first .last {
	margin-top: -1px;
}

.smallroundedmodule .last .first, .smallroundedmodule .last .last {
	margin-bottom: -1px;
}

.smallroundedmodule .first .first, .smallroundedmodule .first .last, .smallroundedmodule .last .first, .smallroundedmodule .last .last {
	border: 0 none;
	position: absolute;
	z-index: 1;
	width: 4px;
	background-repeat: no-repeat;
}

.smallroundedmodule .first .first, .smallroundedmodule .last .first {
	margin-left: -4px;
}

.smallroundedmodule .first .last, .smallroundedmodule .last .last {
	right: 0px;margin-right: -4px;
}

div.lowquota span#quotausagebar span.first {
	background: #ffffff  repeat-x center left;
}

div#quotameter div {
	border-width: 0;
	border-color: #ffffff;
}

#quotausagebar {
	border-color: #dddddd;
}

#quotausagebar {
	position: relative;
	display: block;
	border-style: solid;
	border-width: 1px;
	margin: 2px 4px;
	height: 1em;
}

#quotausagebar span.first {
	position: absolute;
	height: 100%;
}

#quotausagebar span.last {
	width: 100%;
	text-align: center;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
}

html>body #quotausagebar span.last {
	display: block;
	width: auto;
}

.frm_cron_c_command {
	width: 450px;
}