/* top level
--------------------------------------------*/
.menuTemplate2
{
	margin: 0 auto;
	width: auto;
	float: left;
	position: relative;
	z-index: 4;
	height: 28px;
	background: none;
	border: none;
	font-family: Tahoma, Verdana Arial, Helvetica, sans-serif;
	font-size: 9pt;
	list-style: none;
	padding: 0;

	behavior: url("/theme/skin/simplicity/default/menu/css/cssmenu.htc");
}

.menuTemplate2 li
{
	padding: 0;
	float: left;
	height: 32px;
	_height: 34px;/*IE6 Hack*/
	position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
	z-index: 5;
	
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-color: transparent;
	_border-color: #FFF;/*IE6 Hack*/
}

.menuTemplate2 li a
{
	color: #fff;
}

.menuTemplate2 li:hover, .menuTemplate2 li.onhover
{
	border: 1px solid #B00;
}

.menuTemplate2 a
{
	padding: 0 5px;
	line-height: 32px; /*Note: keep this value the same as the height of .menuTemplate2 li */
	font-size: 9pt;
	font-weight: normal;
	display: inline-block;
	outline: 0;
	text-decoration: none;
	color: #000;
	position: relative;
}

.menuTemplate2 li:hover a, .menuTemplate2 li.onhover a
{
	background-color: #F8F8FF;
	color: #000;
	z-index: 9; 
}

.menuTemplate2 a.arrow
{
	/* background: url(arrow.gif) no-repeat right center; */
}
 
		
/*Used to align a top-level item to the right*/		
.menuTemplate2 li.menuRight
{
	float: right;
	margin-right: 0;
}
		
/*for the top-level separators*/
.menuTemplate2 li.separator
{
	display: none;
}

/* sub level
--------------------------------------------*/

.menuTemplate2 div.drop,
.menuTemplate2 div.drop2
{
	position: absolute;
	z-index: 5;

	border: 1px solid #B00;
	background-color: #F8F8FF;
	text-align: left;
	padding: 15px;  
	top: 31px;

	left: -9999px;
	width: 600px; /* MR -- set fix width */
}

.menuTemplate2 div.drop a,
.menuTemplate2 div.drop2 a
{
	padding: 0;
	/* line-height: 2.0em; */
	font-size: 9pt;
	font-weight: normal;
	display: inline;
	text-align: left;
	
	position: static;
	z-index: 0;
}

.menuTemplate2 div.drop b,
.menuTemplate2 div.drop2 b
{
	font-weight: bold;
	line-height: 25px;
}
	
.menuTemplate2 li:hover div.drop, .menuTemplate2 li.onhover div.drop
{
	/* left: -1px; */ /*Use this property to change offset of the dropdown*/
	left: -320px; /* MR -- set 'centered' drop */
}

.menuTemplate2 li:hover div.drop2, .menuTemplate2 li.onhover div.drop2
{
	/* left: -1px; */ /*Use this property to change offset of the dropdown*/
	left: -40px; /* MR -- set 'centered' drop */
}

/* Elements within the drop down sub-menu
--------------------------------------------*/

.menuTemplate2 div.drop div div.dropmenu,
.menuTemplate2 div.drop2 div div.dropmenu
{
	padding: 0 0 15px 10px;
}
.menuTemplate1 li:hover div.drop a, .menuTemplate1 li.onhover div.drop a,
.menuTemplate1 li:hover div.drop2 a, .menuTemplate1 li.onhover div.drop2 a
{
	background: none;
	background-image: none;
	padding: 0;
}
.menuTemplate2 div.drop div a,
.menuTemplate2 div.drop2 div a
{
	line-height: 25px;  
	color: #048;
	background: none;
}
.menuTemplate2 div.drop div a:hover,
.menuTemplate2 div.drop2 div a:hover
{
	text-decoration: underline;
	cursor: pointer;
	color: #f00;
}

.menuTemplate2 div.left
{
	float: left;
	padding-right: 10px;
	margin-left: 10px;
}

.menuTemplate2 div.rightborder
{
	border-right: 1px dashed #ccc;
}

.menuTemplate2 div.left div
{
	padding-bottom: 6px;
}
	 
/* CSS3 effects
--------------------------------------------*/

/*for top-level*/
.decor2_1 
{
}

/*for submenu.*/
.decor2_2 
{
	-moz-box-shadow: 0 0 14px #AAA;
	-webkit-box-shadow: 0 0 14px #AAA;
	box-shadow: 0 0 14px #AAA;  
}
